D:\Delphi\TCC\QuickTab-App\__history\
D:\Delphi\TCC\QuickTab-App\__recovery\
D:\Delphi\TCC\QuickTab-App\Android\
D:\Delphi\TCC\QuickTab-App\Win32\
D:\Delphi\TCC\QuickTab-App\AppExe\
D:\Delphi\TCC\QuickTab-Server\__history\
D:\Delphi\TCC\QuickTab-Server\__recovery\
D:\Delphi\TCC\QuickTab-Server\Android\
D:\Delphi\TCC\QuickTab-Server\Win32\
D:\Delphi\TCC\QuickTab-Server\bkp\
D:\Delphi\TCC\QuickTab-Server\AppExe\