QuickTab-App/__history/
QuickTab-App/__recovery/
QuickTab-App/Android/
QuickTab-App/Win32/
QuickTab-App/AppExe/
QuickTab-Server/__history/
QuickTab-Server/__recovery/
QuickTab-Server/Android/
QuickTab-Server/Win32/
QuickTab-Server/bkp/
QuickTab-Server/AppExe/